/* Enter your custom styles here */
.noFocusOutline:hover {
    cursor: pointer;
    background-color:skyblue;
   
  }
  
  .noFocusOutline:focus {
    outline: none;
  }
  
  .noFocusOutline{
    font-weight: 1000;
    font-size: large;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
  }
  .highlighted {
    color: blue;
    font-weight: bold;
  }
  
  .image{
    background-image: url("https://icon-library.com/images/employee-icon-png/employee-icon-png-15.jpg");
    padding-left: 10px;
    background-repeat: no-repeat;
    background-size: 25px;
  }
  .text{
    margin-left: 25px;
  }